@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 14px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Declaring common variables */
:root {
  --primary-color: #00aefd;
  --secondary-color: #ffa400;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

.title {
  font-size: 4em;
  font-weight: 600;
  display: inline-block;
  padding: 1em;
  color: transparent;
  background-image: linear-gradient(to bottom, #00aefd, #ffa400);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 0.5em 0.5em 1em #899e9e;
}

.background {
  display: block;
  width: calc(100% - 200px);
  height: 600px;
  margin: 0 100px;
  object-fit: cover;
  object-position: right;
  border-radius: 40px;
}

li {
  margin: 0 auto;
  font-size: 5em;
  font-weight: 700;
}

li:first-child {
  color: red;
}
li:nth-child(odd) {
  color: var(--primary-color);
}
li:last-child {
  color: aquamarine;
}
li:nth-child(odd) {
  color: bisque;
}
li:not(:first-child) {
  color: aquamarine;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: calc((100% - 1080px) / 2);
  row-gap: 50px;
  margin: 50px 100px;
}
.card {
  width: 360px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}
.card-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.card-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 1;
}
.card-title {
  width: 60%;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-user {
  margin-top: auto;
  display: flex;
  align-items: center;
}
.card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.card-bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: #899e9e 1px solid;
  align-items: center;
}
.user {
  display: flex;
}

.user ion-icon {
  font-size: initial;
  color: green;
  margin-left: 3px;
}
.card-user-info {
  margin-left: 10px;
  line-height: 1.4;
  flex: 1;
}
.live ion-icon {
  font-size: 13px;
  margin-right: 3px;
}
.game {
  font-size: 13px;
  color: #899e9e;
}
.live {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  background-color: rgb(244, 139, 20);
  border-radius: 6px;
}
